* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px 0px;
  padding: 0px 0px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #519259;
  width: 100%;
  height: 4rem;
}
.navbar h2 {
  padding: 15px 10px;
}
.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0px 10px;
}
.navbar ul li a {
  text-decoration: none;
  padding: 0px 10px;
  color: #f4eea9;
  margin: 0px 10px;
}
.navbar ul li a:hover {
  cursor: pointer;
  background-color: #064635;
  border-radius: 5px;
  padding: 10px 10px;
}
